body > .grid {
    height: 100%;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.image {
    margin-top: -100px;
}
#login {
    max-width: 350px;
}

.borda{
    border: 1px solid red;
}


#espaco{
    line-height: 10;
}

#fixado{

    position: fixed;
    left: auto;
    top: 0;
    width: auto;
    height: 100%;


}

.borda{
    border: 1px solid yellow;

}

.f{
    right: 100px;
}
.head{
    margin-left: 200px;
}







